.root {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.intact {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
}
